<h1>Uses</h1>
<p>List things I use.</p>

<ul>
  <% @items.each do |item| %>
    <li>
      <%= render partial: "item", locals: { item: item } %>
    </li>
  <% end %>
</ul>

<% if current_user %>
  <%= link_to "New Item", new_admin_item_path %>
  <%= button_to "Sign out", destroy_user_session_path,  method: :delete %>
  <% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <% end %>


