<h1 class="text-xl">Uses</h1>
<p>List things I use.</p>

<ul>
  <% @items.each do |item| %>
    <li class="px-2 py-1">
      <%= render partial: "item", locals: { item: item } %>
    </li>
  <% end %>
</ul>
